<!DOCTYPE html>
<html>

{{> header}}

<link rel="stylesheet" href="/static/games.css">

<script>
    function getHour(timestamp) {
        var d = new Date(timestamp);
        return d.getHours() + ":00";
    }
    const days = ["Dimanche", "Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi"];
    const months = ["Janvier", "Fevrier", "Mars", "Avril", "Mai", "Juin", "Juillet", "Août", "Septembre", "Octobre", "Novembre", "Décembre"];
    function getDay(s) {
        var d = new Date(s);
        return days[d.getDay()] + " " + d.getDate() + " " + months[d.getMonth()] ;
    }
</script>

    <div style="max-width:768px;margin:auto">
<body style="text-align:center;">
    <header>
        Vous êtes connecté en tant que {{username}}.
        <a href="/logout">Logout</a>
        {{#if flash}}
        <br> {{flash}} {{/if}}
        <br>
        <a href="/games?date={{day}}">Retour à la liste des matchs</a>
    </header>
    <h1 id="date">Matchs</h1>
    <script>
        document.getElementById("date").innerHTML = getDay("{{ day }}");
    </script>
    <div class="game game_container {{#if game.bet.id}} has_bet {{else}} no_bet {{/if}}">
        <div id="game_time-{{game.id}}" class="date" style="border-bottom: 1px solid #e5e5e5;margin-bottom: .3em">
            <script>
                document.getElementById("game_time-{{game.id}}").innerHTML = getHour({{ game.time }});
            </script>
        </div>
        <svg class="flag flag1"><use xlink:href="{{game.team1.flag}}"></use>></use></svg>
        <div class="name1">
            <p>{{game.team1.name}}</p>
        </div>
        <div class="name2">
            <p>{{game.team2.name}}</p>
        </div>
        <svg class="flag flag2"><use xlink:href="{{game.team2.flag}}"></use>></use></svg>
        <div>
        </div>
        {{#if game.started}} <div class="bet_grid">{{else}}
        <form class="pure-form pure-form-stacked bet_grid" action="/games" method="POST">
        {{/if}}
            {{!-- <div style="display: grid; grid-template-columns: 3fr auto 1fr; grid-row: 1 / span 1; grid-column: 1 / span 1"> --}}
                <div class="pari1">
                    <input style="padding: 5px ; width: 50px" class="pari1" type="number" name="score1" value="{{game.bet.score1}}" {{#if game.started}}disabled{{/if}}>
                </div>
                {{#if game.finished}}
                <div class="score1">
                    <p>{{game.score1}}</p>
                </div>
                {{/if}}
                <div class="pari2">
                <input style="padding: 5px ; width: 50px" class="" type="number" name="score2" value="{{game.bet.score2}}" {{#if game.started}}disabled{{/if}}>
                </div>
                {{#if game.finished}}
                <div class="score2">
                    <p>{{game.score2}}</p>
                </div>
                {{/if}}
            <div class="submit_bet">
                {{#if game.started}}
                <p style="text-align: center">Pari</p>
                {{else}}
                <button type="submit" class="pure-button pure-button-primary">Submit</button>
                <input type="hidden" name="game_id" value="{{game.id}}">
                {{/if}}
            </div>
            <div class="result">
                {{#if game.finished}}
                    <p style="text-align: center">Résultat</p>
                {{/if}}
            </div>

        {{#if game.started}} </div> {{else}}
        </form>
        {{/if}}

    </div>


    <br/>
        {{#if game.started}}
        <br>
        <table class="pure-table pure-table-striped" style="margin: auto">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>{{game.team1.name}}</th>
                    <th>{{game.team2.name}}</th>
                    <th>Points gagnés</th>
                    <th>Points totaux</th>
                </tr>
            </thead>

            <tbody>
                {{#each game.bets}}
                <tr>
                    <td>{{this.username}}</td>
                    <td>{{this.score1}}</td>
                    <td>{{this.score2}}</td>
                    <td>{{this.bet_points}}</td>
                    <td>{{this.user_points}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{/if}}
        {{#if admin}}
        <form class="pure-form pure-form-stacked" action="/result" method="POST">
            <fieldset>
                <legend id="game_time-{{game.id}}"></legend>

                <div class="pure-g">
                    <div class="pure-u-2-5">
                        <label>{{game.team1.name}}
                            <input class="pure-u-1 pure-u-lg-1-6" type="number" name="score1" value="0">
                        </label>
                    </div>

                    <div class="pure-u-2-5" style="margin: 5px">
                        <label>{{game.team2.name}}
                            <input class="pure-u-1 pure-u-lg-1-6" type="number" name="score2" value="0">
                        </label>
                    </div>

                    <div class="pure-u-1 pure-u-sm-1-6">
                        <button type="submit" class="pure-button pure-button-primary">Submit</button>
                    </div>
                </div>
                <input type="hidden" name="game_id" value="{{game.id}}">
            </fieldset>
        </form>
        {{/if}}
    </div>
</body>

</html>
