<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Matchs</title>

    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w"
        crossorigin="anonymous">
    <!--[if lte IE 8]>
                    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
                <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
    <!--<![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .upcoming_game {
            border: 3px solid;
            border-radius: 5px;
            margin-top: 10px;
        }

        .has_bet {
            border-color: rgb(28, 184, 65)
        }

        .no_bet {
            border-color: rgb(223, 117, 20)
        }

        .button-success,
        .button-error,
        .button-warning,
        .button-secondary {
            color: white;
            border-radius: 4px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        }

        .button-success {
            background: rgb(28, 184, 65);
            /* this is a green */
        }

        .button-error {
            background: rgb(202, 60, 60);
            /* this is a maroon */
        }

        .button-warning {
            background: rgb(223, 117, 20);
            /* this is an orange */
        }

        .button-secondary {
            background: rgb(66, 184, 221);
            /* this is a light blue */
        }

        .flag {
            border: 1px solid #a5a5a5;
            margin-top: 5px;
            margin-bottom: 5px;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>

<body style="text-align:center;">
    <header>
        Vous êtes connecté en tant que {{username}}.
        <a href="/logout">Logout</a>{{#if flash}}
        <br> {{flash}} {{/if}}
    </header>
    <h1>Matchs</h1>
    <div style="max-width:768px;margin:auto">
        <h3>
            Prochains matchs
        </h3>
        {{#each games}}
        <div class="pure-g upcoming_game {{#if this.bet.id}}
       has_bet {{else}} no_bet {{/if}}">
            <div id="game_time-{{this.id}}" class="pure-u-1" style="border-bottom: 1px solid #e5e5e5;margin-bottom: .3em">
            </div>
            <img src="{{this.team1.flag}}" alt="{{this.team1.name}}" class="pure-u-5-12 pure-u-sm-1-5 flag">
            <div class="pure-u-5-12 pure-u-sm-1-5">
                <p>{{this.team1.name}}</p>
                {{#if this.bet.id}}
                <p>{{this.bet.score1}}</p>
                {{/if}}
            </div>
            <a href="/games/{{this.game.id}}" class="pure-u-1 pure-u-sm-1-8 pure-button button-{{#if this.bet.id}}success{{else}}warning{{/if}}"
                style="margin-top: auto;margin-bottom: auto;margin-left: 15px;margin-right: 15px;">
                Parier !
            </a>
            <div class="pure-u-5-12 pure-u-sm-1-5">
                <p>{{this.team2.name}}</p>
                {{#if this.bet.id}}
                <p>{{this.bet.score2}}</p>
                {{/if}}
            </div>
            <img src="{{this.team2.flag}}" alt="{{this.team2.name}}" class="pure-u-5-12 pure-u-sm-1-5 flag" />
            <script>
                var jours = ["Dimanche ", "Lundi ", "Mardi ", "Mercredi ", "Jeudi ", "Vendredi ", "Samedi "];
                var d = new Date;
                d.setTime({{ this.time }});
                var n = jours[d.getDay()] + d.getDate() + ' à ' + d.getHours() + ':00'
                document.getElementById("game_time-{{this.id}}").innerHTML = n;
            </script>
        </div>
        {{/each}}
    </div>

</body>

</html>
